<div class="parent">
    <div class="left">
        <h2 routerLink="toggle" class="home">Toggle</h2>
        <h2 routerLink="badge" class="home">Badge</h2>
        <h2 routerLink="bottomSheet" class="home">Bottom Sheet</h2>
        <h2 routerLink="button" class="home">Button</h2>
        <h2 routerLink="btntgle" class="home">Button Toggle</h2>
        <h2 routerLink="card" class="home">Card</h2>
        <h2 routerLink="checkBox" class="home">Check Box</h2>
        <h2 routerLink="chips" class="home">Chips</h2>
        <h2 routerLink="dailog" class="home">Dailog</h2>
        <h2 routerLink="devider" class="home">Divider</h2>
        <h2 routerLink="expansionPanel" class="home">Expansion Panel</h2>
        <h2 routerLink="formsFeild" class="home">Forms Feild</h2>
        <h2 routerLink="gridList" class="home">Grid List</h2>
        <h2 routerLink="icon" class="home">Icon</h2>
        <h2 routerLink="input" class="home">Input</h2>
        <h2 routerLink="list" class="home">List</h2>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>